:80 {
	encode gzip

	handle /api* {
		reverse_proxy {$SERVER_ADDRESS}
	}

	handle /socket.io* {
		reverse_proxy {$SERVER_ADDRESS}
	}

	handle {
		root * /var/www/html
		try_files {path} /index.html
		file_server
	}
}
